{% extends 'base.html.twig' %}

{%  block body %}
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">Marque</th>
            <th scope="col">Dlnr</th>
            <th scope="col">Hernr</th>
            <th scope="col">Hkz</th>
            <th scope="col">genartnr</th>
            <th scope="col">designation fr</th>
            <th scope="col">designation en</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
{%  endblock %}