<div class="card m-4 d-flex justify-content-center">
    <div class="card-body">
        <h5 class="card-title"> Marque : {{ name | upper }}</h5>
        <h5 class="card-text"> Dlnr : {{ dlnr }}</h5>
    </div>
</div>