<div class="card m-4 d-flex justify-content-center">
    <div class="card-body">
        <h5 class="card-title"> Hkz : {{ hkz }}</h5>
        <h5 class="card-text"> Hernr : {{ hernr  | upper }}</h5>
    </div>
</div>